/*documento css*/

.cabecera{width: 100%;
          background-color: #888;
          padding: 16px 0px;}

.bi bi-airplane{font-size: 6em 
                text-aling: center;
                display: block;
                 margin: auto}

                 .pie{width: 100%;
                    height: 90px
                    background-color #8a2be2 }
.moneda
