@font-face {
    font-family: 'Ananda';
    src: url('Ananda.woff2') format('woff2'),
        url('Ananda.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

